.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  min-height: 65vh;
}

.home-page-container > h1 {
  color: blue;
}

.home-page-container > h2 {
  color: red;
}

.home-page-btn {
  min-width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-home-page {
  margin: 5px;
}
